.branch-contacts{
    display: inline-block;
    line-height: 29px;}
.dds_item{
    display: inline-block;
}
    /*.slick-screen-nav .links {
        padding-top: 15px;
        padding-bottom: 12px;
        padding-left: 68px;}*/
